.header_1 {
    margin-top: 5px;
    height: 50px;
    width: 100%; 
    background-color: white;
    box-shadow: 0px 4px 5px -4px #C1ACBA;
    display: flex;
    align-items: center;
}

.header-logo {
    margin-left: 10px;
    width: 60px;
    height: 46px;
    background-image: url('Memory.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.header-text {
    font-size: 150%;
}

body {
    border: none !important;
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

header {
    height: 50px;
    border: none !important;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    min-height: calc(100vh - 55px);
    box-sizing: border-box;
    background-color: #04522d;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#block-size, #mm-size, #cache-size, #program-flow, #miss-penalty {
    padding: 6px;
}

.input-section, .result-display {
    font-size:14px !important;
    background-color: #ffffff;
    color: #333333;
    padding: 10px;
    padding-top:3px;
    border-radius: 8px;
    box-shadow: 0px 4px 5px -4px #C1ACBA;
    width: 100%;
    max-width: 800px;
    margin-bottom: 10px;
}

.result-display{
    display: none;
}
.result-display h2 {
    margin-bottom:5px; 
    margin-top: 2px;
}

.form-group {
    margin: 10px 0;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.input-with-dropdown {
    display: flex;
    align-items: center;
}

.input-with-dropdown input {
    flex: 1;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    margin-right: 5px;
}

.input-with-dropdown select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    background-color: #f5f5f5;
}

.input-with-button {
    display: flex;
    align-items: center;
}

.input-with-button input {
    flex: 1;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    margin-right: 5px;
}

.input-with-button select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    background-color: #f5f5f5;
    margin-right: 5px;
}

.input-with-button button {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #04522d; /* Changed color */
    color: white;
    cursor: pointer;
}

.input-with-button button:hover {
    background-color: #03391e;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #04522d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

button:hover {
    background-color: #03391e;
}

pre {
    font-size:12px;
    margin:0;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-top:-10px;
}

.input-output {
    width: 30%;
    margin-left: 0;
    padding:0;
    margin-right:75px;
}
.simul {
    display:flex;
}

.simulation-body{
    width:100%;
    height:100%;
    display:flex;
}

.input-with-button {
    display: flex;
    align-items: center;
}

.input-with-button input {
    width:80%;
    margin-right: 10px;
    padding:6px;
}
.input-with-button button {
    width:20%;
    padding: 6px;
    margin:0px;
}

#program-flow-display{
    font-size:10px;
}

.memory-box {
    width: 50%;
    overflow-x: auto;
}

#memory-block {
    border-radius: 8px; 
    background-color: #04522d;
    padding: 10px;
}

.memory-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ddd;
    color:black;
}

.memory-table th, .memory-table td {
    padding: 8px;
    text-align: center;

}

.memory-table th {
    background-color: #f4f4f4;

}

.memory-table td {
    background-color: #ffffff;

}

.highlight {
    color: red !important;
}

.cache-block {
    width: 50%;
    overflow-x: auto;
    margin-right: 50px;
}

#cache-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ddd;
    color:black;
}

#cache-table th, #cache-table td {
    padding: 8px;
    text-align: center;
}

#cache-table th {
    background-color: #f4f4f4;

}

#cache-table td {
    background-color: #ffffff;
}

#cache-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.blocks {
    width: 60%;
    margin: 0 auto; 
}

button.simul-button {
    background-color: white;
    color: black;
    font-weight: bold;
    width: 20%;
    margin-top:0;
}

.button-container {
    display: flex;
    justify-content: center; 
    gap: 20px;
    margin-bottom: 20px; 
}

#block-display{
    display: none;
}

.eqw{
    width:33.3333333%;
}